# Ignore the training dataset
/dataset/

# Ignore the spectrograms and model files
/backend/spectrograms_npy
/backend/model
/backend/test_set
/backend/train_set
/backend/val_set

/backend/val_set_resized
/backend/train_set_resized
/backend/test_set_resized

/test_audios

#ignoring design ideas folder for the frontend
/frontend/designs