# Ignore the training dataset
/dataset/

# Ignore the spectrograms and model files
/backend/spectrograms_npy
/backend/model
/backend/test_set
/backend/train_set
/backend/val_set
/backend/train_set_augmented

/backend/val_set_resized
/backend/train_set_resized
/backend/test_set_resized
/backend/test_predict.py
/backend/add_samples.py

#ignoring the teacher and test audios
/backend/birdnet_teacher
/backend/__pycache__
/test_audios