.custom-scroll-bar-track {
    position: fixed;
    top: 60px;
    bottom: 0;
    right: 0px;
    width: 8px;
    height: auto;
    background: var(--scroll-track);
    cursor: pointer;
    z-index: 20;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.custom-scroll-bar-thumb {
    position: absolute;
    left: 0;
    width: 100%;
    background: var(--scroll-thumb);
    border-radius: 10px;

    transition: background 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.custom-scroll-bar-track:hover .custom-scroll-bar-thumb {
    background: var(--scroll-thumb-hover);
    transform: scaleY(1.3);
}

.custom-scroll-bar-track.hidden {
    opacity: 0;
    pointer-events: none;
}

.custom-scroll-bar-track.visible {
    opacity: 1;
    pointer-events: auto;
}