.title-bar{
    background: linear-gradient(90deg, #cb9483, #ca481d);
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    padding:0 24px;
    box-sizing: border-box;
    font-family: 'Fraunces', serif;
    font-size: 1.4rem;
    font-weight: 600;
    background: linear-gradient(90deg,#94de7b 0%, #d8b93d 100%);
    z-index: 10;
}