.main-section {
    background-color: #f1d08b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.predict-buttons {
    gap: 15px;
    display: flex;
}