/* button colors */
@property --predict-button-color1{
    syntax: "<color>";
    inherits: false;
    initial-value: #f7e87c;
}

@property --predict-button-color2{
    syntax: "<color>";
    inherits: false;
    initial-value: #87ee67;
}

@property --predict-button-border{
    syntax: "<color>";
    inherits: false;
    initial-value: #d97d5e;
}


/* css */

.predict-button{
    background: linear-gradient(35deg, var(--predict-button-color1), var(--predict-button-color2));
    border: 10px solid var(--predict-button-border);
    border-radius: 20px;
    padding: 10px;
    width: 500px;
    height: 250px;
    text-align: center;
    font-size: 2.05rem;
    font-weight: 600;
    color: var(--predict-button-border);

    transition:
    transform 0.15s ease,
    box-shadow 0.15s ease,
    --predict-button-color1 0.4s ease,
    --predict-button-color2 0.4s ease,
    --predict-button-border 0.4s ease;
}
.predict-button:hover{
    --predict-button-color1: #a4f158;
    --predict-button-color2: #58f1ac;
    --predict-button-border: #d65a6b;
}