.audio-player-container {
    width: 100%;
    height: 90px;
    background: rgb(13, 95, 107);
    border: 3px solid #288a71;
    border-radius: 10px;
    box-sizing: border-box;
}

.audio-play-button {
    flex-shrink: 0;
    width: 42px;
    height: 42px;
    border-radius: 30%;
    background: #309b89;
    color: #d6ea8d;
    cursor: pointer;
}

.button-icons {

}

.audio-time {

}

.audio-progress {
    
}

.audio-progress-wrapper {

}

.volume-icon {

}

.volume-wrapper {

}

.volume-slider {
    
}