.results-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.bird-photo-container {
    flex-shrink: 0;
    border-radius: 5%;
    width: 500px;
    height: 500px;
    background-color: rgb(3, 47, 32);
}

.bird-photo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.total-results-container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 740px;
    height: 700px;

    padding: 20px;

    overflow-y: auto;
    overflow-x: hidden;

    flex-shrink: 0;

    scrollbar-width: none;
}

.total-results-container::-webkit-scrollbar {display: none;}

.main-confidence {
    width: 700px;
    height: 300px;
    background-color: rgb(255, 251, 127);
}

.top4-predictions {
    width: 700px;
    height: 300px;
    background-color: rgb(255, 127, 217);
}

.spectrogram-segments {
    overflow-x: hidden;
    display: flex;
    width: 700px;
    height: 200px;
    background-color: aquamarine;
}

.spectrogram-segments img {flex-shrink: 0;}

.habitat-map {
    width: 700px;
    height: 800px;
    background-color: rgb(127, 255, 136);
}

.main-confidence,
.top4-predictions,
.spectrogram-segments,
.habitat-map {
    flex-shrink: 0;
}

.escape-button {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 44px;
    height: 44px;
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.escape-button span {
    position: absolute;
    width: 28px;
    height: 3px;
    background: currentColor;
    border-radius: 3px;
}

.escape-button span:first-child {transform: rotate(45deg);}
.escape-button span:last-child {transform: rotate(-45deg);}
.escape-button:hover span:first-child {transform: rotate(45deg) scale(1.15);}
.escape-button:hover span:last-child {transform: rotate(-45deg) scale(1.15);}