/* @property values */
@property --card-color-top {
    syntax: "<color>";
    inherits: false;
    initial-value: #1f8177;
}   

@property --card-color-bottom {
    syntax: "<color>";
    inherits: false;
    initial-value: #aad45c;
}

@property --card-color-border {
    syntax: "<color>";
    inherits: false;
    initial-value: #aad45c;
}

@property --top-fade {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
}

@property --bottom-fade {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 100%;
}

/* css */

.warning-section {
    /* section specific button colors */
    --escape-color: rgb(10, 78, 59);
    --escape-outline: rgb(203, 230, 116);

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.results-section {
    /* section specific button colors */
    --escape-color: rgb(10, 78, 59);
    --escape-outline: rgb(203, 230, 116);

    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    scrollbar-width: none;
}
.results-section::-webkit-scrollbar { display: none; }

/* Predicted as title */
.results-title {
    position: absolute;
    left: 50%;
    top: 40px;
    margin: 0;
    font-size: 1.6rem;
    color: rgb(218, 230, 188);
    -webkit-text-stroke: 3px #0c7345;
    paint-order: stroke fill;
    opacity: 0;
    transform: translate(-50%, -30px);
    z-index: 20;
    pointer-events: none;
    transition:
        opacity 0.6s ease,
        transform 0.7s ease;
}

.entrance-title-visible .results-title,
.entrance-bird-visible .results-title,
.entrance-bird-moved .results-title,
.entrance-results-visible .results-title {
    opacity: 1;
    transform: translate(-50%, 0);
}

.bird-photo-container {
    opacity: 0;

    position: absolute;
    left: 50%;
    top: 50%;
    width: clamp(280px, 32vw, 550px);
    height: clamp(280px, 32vw, 550px);
    flex-shrink: 0;
    border-radius: 5%;
    background-color: rgb(8, 71, 50);
    border: 10px solid white;
    overflow: hidden;
    transform: translate(-50%, -50%) scale(0.65);
    transition:
        left 0.8s ease,
        top 0.8s ease,
        transform 0.7s ease,
        opacity 0.7s ease;
    z-index: 10;
}

.bird-photo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.entrance-bird-visible .bird-photo-container {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.entrance-bird-moved .bird-photo-container,
.entrance-results-visible .bird-photo-container {
    left: 28%;
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.85);
}

.total-results-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: clamp(320px, 45vw, 740px);
    height: 90%;
    max-height: 90vh;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    flex-shrink: 0;
    scrollbar-width: none;
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    transform: translate(100px, -50%);
    pointer-events: none;
    transition:
        opacity 0.7s ease,
        transform 0.8s ease;
}

/*blurs to the top and bottom of the results section */
.total-results-container {
    --top-fade: 0%;
    --bottom-fade: 100%;
    mask-image: linear-gradient( to bottom, transparent 0%, black var(--top-fade), black var(--bottom-fade), transparent 100%);
    -webkit-mask-image: linear-gradient( to bottom, transparent 0%, black var(--top-fade), black var(--bottom-fade), transparent 100%);
    transition:
        opacity 0.7s ease,
        transform 0.8s ease,
        --top-fade 0.4s ease,
        --bottom-fade 0.4s ease;
}
.total-results-container.at-top {
    --top-fade: 0%;
    --bottom-fade: 80%;
}
.total-results-container.at-bottom {
    --top-fade: 20%;
    --bottom-fade: 100%;
}
.total-results-container:not(.at-top):not(.at-bottom) {
    --top-fade: 15%;
    --bottom-fade: 85%;
}


/* entrance for the entire results section */
.entrance-results-visible .total-results-container {
    opacity: 1;
    transform: translate(0, -50%);
    pointer-events: auto;
}

/* text results border */
.stroke-text {
    color: rgb(218, 230, 188);
    -webkit-text-stroke: 3px #53941a;
    paint-order: stroke fill;
}

/* Shared base code for all the result cards */
.main-confidence,
.top4-predictions,
.custom-audio-player,
.spectrogram-segments-wrapper,
.habitat-map {

    --card-color-top: #126058;
    --card-color-bottom: #b8cb59;
    --card-color-border: #b8cb59;

    opacity: 0;
    transform: translateX(50px) scale(0.97);
    flex-shrink: 0;
    width: 100%;
    min-height: 200px;
    padding: 20px;
    box-sizing: border-box;

    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(180deg, var(--card-color-top) 0%, var(--card-color-bottom) 100%);
    border-radius: 20px;
    border: 10px solid var(--card-color-border);
    transition: 
        --card-color-top 0.3s ease-in-out,
        --card-color-bottom 0.3s ease-in-out,
        --card-color-border 0.3s ease-in-out,
        opacity 0.5s ease,
        transform 0.6s ease;
}
.main-confidence { min-height: 140px; }

.main-confidence:hover,
.top4-predictions:hover,
.custom-audio-player:hover,
.spectrogram-segments-wrapper:hover,
.habitat-map:hover {
    --card-color-top: #4ab48b;
    --card-color-bottom: #d2e266;
    --card-color-border: #d2e266;
}

/* transition delays between all the cards appearing*/
.entrance-results-visible .main-confidence {
    opacity: 1;
    transform: translateX(0) scale(1);
    transition-delay: 0.10s;
}
.entrance-results-visible .top4-predictions {
    opacity: 1;
    transform: translateX(0) scale(1);
    transition-delay: 0.25s;
}
.entrance-results-visible .custom-audio-player {
    opacity: 1;
    transform: translateX(0) scale(1);
    transition-delay: 0.40s;
}
.entrance-results-visible .spectrogram-segments-wrapper {
    opacity: 1;
    transform: translateX(0) scale(1);
    transition-delay: 0.55s;
}
.entrance-results-visible .habitat-map {
    opacity: 1;
    transform: translateX(0) scale(1);
    transition-delay: 0.70s;
}


/* Headers for the different result segments */
.main-confidence-header,
.top4-header,
.custom-audio-player-header,
.spectrogram-header,
.habitat-header {
    position: relative;
    text-align: center;
    flex-shrink: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}


/* spectrogram results */
.spectrogram-segments-wrapper {
    height: auto;
}

.spectrogram-segments {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 130px;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    cursor: grab;
    overscroll-behavior: contain;
}
.spectrogram-segments::-webkit-scrollbar {display: none;}

.spectrogram-segments img {
    flex: 0 0 auto;
    height: 130px;
    width: auto;
}


/* closing animation */
.entrance-closing .bird-photo-container {
    left: -20%;
    opacity: 0;
}

.entrance-closing .total-results-container {
    transform: translate(100px, -50%);
    opacity: 0;
}

.entrance-closing .results-title {
    opacity: 0;
}